#login_container{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#centered_container{
    display: table-cell;
    vertical-align: middle;
    
}

#login_form{
    display: table;
    margin: 0 auto;
}

#login_form_container{
    border-radius: 8px;
    padding: 25px;
    background: lightblue;
}

a {
    text-decoration: inherit;
    font-style: inherit;
    color: inherit;
}

a:link, a:visited{
    border:none;
    text-decoration:none;
    font-style:normal;
    color:white;
}

a:hover{
    border:none;
    text-decoration:none;
    font-style:normal;
    color:red;
}

.nav-left li:hover, .nav-left li:active{
    background: black;
}

.btn{
    margin-left: 10px;
    background: black;
    color: grey;
    border: none;
}

.btn:focus,.btn:active, .btn:active:focus {
    outline: none;
}
