.outer{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle{
    display: table-cell;
    vertical-align: middle;
}

.inner{
    display: table;
    margin: 0 auto;
}

#login_form_container{
    border-radius: 8px;
    border: solid;
    padding: 25px;
    background: grey;
    opacity: 0.7;
}


ul{
    list-style-type: none;
}

a {
    text-decoration: inherit;
    font-style: inherit;
    color: inherit;
}

a:link, a:visited{
    border:none;
    text-decoration:none;
    font-style:normal;
    color:black;
}

a:hover{
    border:none;
    text-decoration:none;
    font-style:normal;
    color:red;
}
